body {
  background-image: url("https://images7.alphacoders.com/310/310611.jpg");
}

.search-box {
  width: 600px;
  background: #fff;
  margin: 200px auto 0;
  border-radius: 5px;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

#input-box {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  color: #333;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

button .fa-solid {
  width: 25px;
  color: #555;
  font-size: 22px;
  cursor: pointer;
}

::placeholder {
  color: #555;
}

.result-box {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
  border-top: 1px solid #999;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.result-box ul {
  padding: 15px 10px;
  margin: 0;
  list-style-type: none;
}

.result-box ul li {
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

.result-box ul li:hover {
  background: #e9f3ff;
}
.card-container {
  display: flex;
  align-items: center;
}

.cards {
  background: rgb(138, 203, 206);
  margin: 100px auto 0;
  width: 600px;
  height: 550px;
}

.card_body {
  margin-left: 50px;
}

.card .card_body_sprite img {
  background: transparent;
  float: left;
  margin-top: 20px;
}
h1 {
  padding: 20px;
}
.sprite {
  height: 100px;
  width: 100px;
}
